<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MY41KR1W6W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MY41KR1W6W');
</script>

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var links = document.querySelectorAll("a[href^='http']");
    links.forEach(function(link) {
      link.setAttribute("target", "_blank");
    });
  });
</script>
